/* /Pages/Home.razor.rz.scp.css */
.home[b-v9rf77xbvc] {
    padding: 20px 5%;
}

.img-container[b-v9rf77xbvc] {
    display: flex;
    justify-content: center;
}

.img-perfil[b-v9rf77xbvc] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.titulo[b-v9rf77xbvc] {
    color: var(--mud-palette-primary);
    font-weight: bold;
}
/* /Pages/Projetos.razor.rz.scp.css */
.projetos[b-rfxfux374c] {
    padding: 20px 5%;
}

.titulo[b-rfxfux374c] {
    color: var(--mud-palette-primary);
    font-weight: bold;
}

.projetos-lista[b-rfxfux374c] {
    margin-top: 50px;
}

.card-projeto[b-rfxfux374c] {
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding: 20px 0;
}
/* /Pages/Skills.razor.rz.scp.css */
.skills[b-gnux2v5wyb] {
    padding: 20px 5%;
}

.titulo[b-gnux2v5wyb] {
    color: var(--mud-palette-primary);
    font-weight: bold;
}
/* /Shared/MainLayout.razor.rz.scp.css */
