/* /Pages/Index.razor.rz.scp.css */
.home[b-rnvjunaat8] {
    padding: 20px 5%;
}




.sobre[b-rnvjunaat8] {
    padding: 40px 0;
}

.sobre__titulo[b-rnvjunaat8] {
    text-align: center;
    color: var(--roxo-net-2);
}

.sobre__subtitulo[b-rnvjunaat8] {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    color: var(--roxo-net-2);
}

.sobre__detalhes[b-rnvjunaat8] {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sobre__imagem-perfil[b-rnvjunaat8] {
    width: 200px;
    border-radius: 50%;
}

.sobre__lista[b-rnvjunaat8] {
    list-style-position: inside;
    padding-left: 10px;
    transition: 1s all;
    cursor: pointer;
    max-width: 1000px;
}

.sobre__lista li:hover[b-rnvjunaat8] {
    color: var(--rosa-net-1);
}

.sobre__item--contatos[b-rnvjunaat8] {
    list-style: none;
    margin-top: 10px;
}

.sobre__item-contato-link[b-rnvjunaat8] {
    font-size: 2rem;
    color: var(--branco-1);
    margin-right: 15px;
    color: white;
}

.sobre__item-contato-link:hover[b-rnvjunaat8] {
    color: var(--rosa-net-1);
    transition: 1s all;
}






.skills[b-rnvjunaat8] {
    padding: 40px 0;
}

.skills__titulo[b-rnvjunaat8] {
    margin-bottom: 20px;
    color: var(--roxo-net-2);
}

.skills__container[b-rnvjunaat8] {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
    padding: 10px 0;
}

.skill__card[b-rnvjunaat8] {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--cinza-1);
}

.skill__imagem[b-rnvjunaat8] {
    width: 80px;
}

.skill__lista[b-rnvjunaat8] {
    list-style-position: inside;
    padding-left: 10px;
}

.skill__item[b-rnvjunaat8] {
    transition: 1s all;
    cursor: pointer;
}

.skill__item:hover[b-rnvjunaat8] {
    color: var(--rosa-net-1);
    margin-left: 10px;
}








.projetos[b-rnvjunaat8] {
    padding: 40px 0;
}

.projetos__titulo[b-rnvjunaat8] {
    margin-bottom: 20px;
    color: var(--roxo-net-2);
}

.projetos__carregando-container[b-rnvjunaat8] {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.projetos__icone-carregando[b-rnvjunaat8] {
    font-size: 30px;
    animation: spin-b-rnvjunaat8 1s infinite;
    margin-left: 10px;
}

@keyframes spin-b-rnvjunaat8 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}






@media (max-width: 1400px) {
    .sobre__detalhes[b-rnvjunaat8] {
        align-items: center;
        flex-direction: column;
    }

    .sobre__imagem-perfil[b-rnvjunaat8] {
        width: 200px;
        border-radius: 50%;
    }

    .sobre__imagem-perfil[b-rnvjunaat8] {
        width: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
}
/* /Shared/CardProjeto.razor.rz.scp.css */
.projeto[b-ztqhpt0s2y] {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px;
    color: var(--branco-1);
    text-decoration: none;
    transition: 1s all;
    cursor: pointer;
}

.projeto__texto-container[b-ztqhpt0s2y] {
    padding-left: 20px;
}

.projeto__titulo[b-ztqhpt0s2y] {
    color: var(--rosa-net-1);
}

.projeto__linha[b-ztqhpt0s2y] {
    width: 100%;
}

.projeto__texto-container[b-ztqhpt0s2y] {
    width: 80%;
    transition: 1s all;
}

.projeto__titulo[b-ztqhpt0s2y] {
    position: relative;
    transition: 1s all;
    color: var(--rosa-net-1);
}

.projeto__aviso-portifolio[b-ztqhpt0s2y] {
    background-color: transparent;
    border: 0;
    color: var(--rosa-net-1);
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1rem;
}

.projeto__descricao[b-ztqhpt0s2y] {
    padding: 10px 0;
    transition: 0.5s all;
}

.projeto__informacoes-container[b-ztqhpt0s2y] {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 0;
}

.projeto__icone-linguagem[b-ztqhpt0s2y] {
    display: inline;
    border: 1px solid var(--branco-1);
    padding: 10px;
    border-radius: 20px;
}

.projeto__github-link[b-ztqhpt0s2y] {
    color: var(--branco-1);
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    background-image: linear-gradient(140deg, var(--rosa-net-1) 20%, var(--rosa-net-2));
}

    .projeto__github-link:hover[b-ztqhpt0s2y] {
        background-image: none;
        background-color: var(--roxo-net-2);
    }

.projeto__linha[b-ztqhpt0s2y] {
    height: 3px;
    width: 0;
    background-image: linear-gradient(40deg, var(--roxo-net-5) 10%, var(--rosa-net-1));
    transition: 0.5s all;
}

.projeto:hover .projeto__linha[b-ztqhpt0s2y] {
    width: 100%;
}


@media (max-width: 800px) {
    .projeto__texto-container[b-ztqhpt0s2y] {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .projeto__informacoes-container[b-ztqhpt0s2y] {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .projeto__github-link[b-ztqhpt0s2y] {
        margin-top: 0;
    }
}
