<style>
    .experiencia-container {
        margin-top: 50px;
    }

    .card-experiencia {
        padding: 10px 0;
        border-bottom: 1px solid #444;
    }

    .card-experiencia__tecnologias {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 0;
    }
</style>

<div class="experiencia-container">
    <h2 style="color: @Colors.DeepPurple.Accent2;">Experiências</h2>

    @foreach (var experiencia in ExperienciaData.Experiencias)
    {
        <div class="card-experiencia">
            <h3>@experiencia.Empresa</h3>
            <small>@experiencia.Duracao</small>
            <ul class="card-experiencia__tecnologias">
                @foreach (var tecnologia in experiencia.Tecnologias)
                {
                    <li>
                        <MudChip Color="Color.Primary">@tecnologia</MudChip>
                    </li>
                }
            </ul>
        </div>
    }
</div>

@code {

}




