.projeto {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px;
    color: var(--branco-1);
    text-decoration: none;
    transition: 1s all;
    cursor: pointer;
}

.projeto__texto-container {
    padding-left: 20px;
}

.projeto__titulo {
    color: var(--rosa-net-1);
}

.projeto__linha {
    width: 100%;
}

.projeto__texto-container {
    width: 80%;
    transition: 1s all;
}

.projeto__titulo {
    position: relative;
    transition: 1s all;
    color: var(--rosa-net-1);
}

.projeto__aviso-portifolio {
    background-color: transparent;
    border: 0;
    color: var(--rosa-net-1);
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1rem;
}

.projeto__descricao {
    padding: 10px 0;
    transition: 0.5s all;
}

.projeto__informacoes-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 0;
}

.projeto__icone-linguagem {
    display: inline;
    border: 1px solid var(--branco-1);
    padding: 10px;
    border-radius: 20px;
}

.projeto__github-link {
    color: var(--branco-1);
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    background-image: linear-gradient(140deg, var(--rosa-net-1) 20%, var(--rosa-net-2));
}

    .projeto__github-link:hover {
        background-image: none;
        background-color: var(--roxo-net-2);
    }

.projeto__linha {
    height: 3px;
    width: 0;
    background-image: linear-gradient(40deg, var(--roxo-net-5) 10%, var(--rosa-net-1));
    transition: 0.5s all;
}

.projeto:hover .projeto__linha {
    width: 100%;
}


@media (max-width: 800px) {
    .projeto__texto-container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .projeto__informacoes-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .projeto__github-link {
        margin-top: 0;
    }
}
