.projetos {
    padding: 20px 5%;
}

.titulo {
    color: var(--mud-palette-primary);
    font-weight: bold;
}

.projetos-lista {
    margin-top: 20px;
}

.card-projeto {
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding: 20px 0;
}

.card-projeto__tecnologias {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    list-style-position: inside;
    padding: 5px 0;
}