@page "/skills"
@using Portfolio.Components.Skills

<PageTitle>Skills</PageTitle>


<section class="skills fade-in">
    <div class="">
        <h2 class="titulo">Skills e Experiências</h2>
        <br />
        <p>
            Comecei meus estudos em programação na metade de 2021, ainda com muitas dúvidas de qual
            carreira seguir, fui fazendo alguns cursos tanto no YouTube, quanto em plataformas por assinatura.
        </p>
        <p>
            Comecei a me interessar pela plataforma .NET ao fazer alguns cursos
            disponibilizados pela própria faculdade.
        </p>
        <p>
            Desde então, foco meus estudos atualmente em todo o ecossistema .NET e suas tecnologias
            para desenvolvimento de aplicações back-end como WebAPIs e microsserviços,
            frameworks fullstack como ASP.NET MVC e front-end como o blazor web assembly.
        </p>
        <p>
            Também estudo o uso de bibliotecas famosas do .NET como
            Entity Framework, Dapper e o ASP.NET Identity.
        </p>
        <p>
            Mesmo tendo facilidade para a compreensão de metodologias para desenvolvimento
            front end com blazor wasm pela familiaridade com .NET e desenvolvimento mobile
            com Xamarin.Forms e .NET MAUI, ainda possuo interesse em estudar futuramente
            tecnologias como Flutter para desenvolvimento mobile e Angular para
            desenvolvimento de aplicações dinâmicas para o front end, sendo que Angular, já possuo
            conhecimento básico, ja que estudei um pouco de seus conceitos a um tempo atrás.
        </p>
    </div>

    <GraficosSkills />

    <ListaExperiencias />
</section>

@code {


}
