<article class="projeto">
    <div class="projeto__texto-container">
        <h4 class="projeto__titulo">
            @repositorio.Name

            @if (repositorio.Name == "Portfolio")
            {
                <span class="projeto__aviso-portifolio">
                    <i class="fa-solid fa-circle-info"></i>
                    <small>
                        Este Projeto
                    </small>
                </span>
            }
        </h4>
        <p class="projeto__descricao">@repositorio.Description</p>
    </div>

    <div class="projeto__informacoes-container">
        <a class="projeto__github-link" href="@repositorio.HtmlUrl" target="_blank">
            Ver no Github
        </a>
    </div>
    <div class="projeto__linha"></div>
</article>

@code {
    [Parameter]
    public GithubRepository repositorio { get; set; }
}
